#gclui {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.alternates {
  float:left;
}
.verbs {
  margin:.1em;
}
.verb {
  border:2px solid;
  margin:0.05em;
}
.engaged {
  background-color: tan;
}
.taxonomydiv {
  margin:0.1em;
}
/*  http://net.tutsplus.com/tutorials/html-css-techniques/lets-create-paper-with-css/ */
.command {
  margin-top: .1em;
  margin-top: .1em;
  padding: .1em;
  color: gray;
  background-color: #fcf59b; /* legal pad yellow */
}
.commandlist {
  overflow-y: auto;
  /* -webkit-border-top-right-radius: 20px 300px; */
  /* background-color: #81cbbc;  hairline blue */  
  background-color: blue; /* hairline blue */  
}
.nextcommand {
  color: black;
  font-weight:bold;
}
.cmdlistbar {
  color: white;
  background-color: blue;
}
.cmdlisttitlebarcontent {
  background-color: blue;
  color: white;
}
.cmdlisttitle {
  float: left;
  margin: .2em;
}
.cmdlisttitle:before {
  content: "Command History";
}
.commandhistory {
  overflow-y: scroll;
  max-height: 6em;
}
.hide_history:before {
  float: right;
  content:"╶╴";
}
.show_history:before {
  float: right;
  content:"□";
  content:"╒╕";
}
.clear_history:before {
  float: right;
  content: "clear";
  background-color: "yellow";
  color: "black";
  font-size: 75%;
}
.hide_comdiv:before {
  margin-right: .2em;
  margin-top: .2em;
  float: right;
  color: white;
  padding: .05em;
  background-color: red;
  content: '✘';
}
.hide_comdiv:hover {
  title: "hide the command panel";
}
.show_comdiv_button:before {
  title:"show the command history";
  background-color: blue;
  color: white;
  margin-right: .2em;
  float:right;
  content: '↗'; /* ⇗ */ 
}
.show_comdiv_button:hover {

}
.display_none {
  display:none;
}
p {
    width:auto;
    float:left;
    margin: .1em;
}
.container {
    display:inline-block;
    border:1px solid;
    overflow:hidden;
}
.contents {
    font-size: 90%;
    border:1px solid;
    padding: .1em;
    overflow:auto;
}
.picked_branch {
    background-color: tan;
}
.scrolling {
    overflow-y: scroll;
    height: 10em;
}
/* display: inline-block and white-space: nowrap */
.hidden {
    display: none;
}
.both_shown_and_unshown {
    font-style: italic;
}