:root {
  --engaged-button-bg-color: royalblue;
  --engaged-button-txt-color: white;
}

.gclui {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*max-height: 50em;
  overflow-y: scroll;*/
}
.gclui p, .data_ontology_display p {
  width:auto;
  float:left;
  margin: .1em;
}
.data_ontology_display {
  margin-bottom: 1px;
}
.data_ontology_display a {
  color: #2966a3;
  text-decoration: none;
}
.data_ontology_display a:hover {
  color: #337fcc;
  text-decoration: underline;
}

.predicates {
  margin-bottom: 50px;
  overflow-y: scroll;
  height: 30em;
}
.buffer_space {
  height: 10em;
  clear: both;
}

.alternates {
  display: inline-block;
  position: relative;
}
/* New alternate verb styling starts here */
.alternates .verb {
  margin:1px 2px 4px 0;
  cursor: pointer;
  padding: 3px 4px;
  border-radius: 3px;
}

.alternates .verb:not(:last-child) {
  margin-bottom:0px;
  border-top:1px solid #eee;
  border-right:1px solid #aaa;
  border-left:1px solid #eee;
  border-bottom: none;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 0.1em;
  padding-bottom: 0.6em;
}

.alternates .verb:last-child {
  margin-top:0px;
  border-top:1px solid #aaa;
  border-right:1px solid #aaa;
  border-left:1px solid #eee;
  border-bottom:1px solid #aaa;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding-bottom: 0.1em;
  padding-top: 0.6em;
}

.alternates .x-button {
  z-index: 2;
  width: 1.1em;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  height: 0px;
  /* display: inline; */
  display: none;
  border: 1px solid black;
  border-radius: 1em;
  cursor: pointer;
  padding: 0em 0.25em;
}

.singletons .verb {
  /* line the singletons up in a row */
  display: inline;
}

/* New alternate verb styling ends here */
.verb {
  margin:1px 2px 4px 0;
  cursor: pointer;
  border-top:1px solid #eee;
  border-right:1px solid #aaa;
  border-left:1px solid #eee;
  border-bottom:1px solid #aaa;
  background-color: #f5f5f5;
  padding: 3px 4px;
  border-radius: 3px;
  color: #666;
}
.control_label.activate_depth {
  margin-left: 1em;
  font-weight: normal;
}
.control_label {
  margin-bottom: 1px;
}
.activate_depth .depth_input {
  width: 2.3em;
  text-align: center;
  margin-left: 0.5em;
}

.engaged {
  background-color: var(--engaged-button-bg-color);
  color: var(--engaged-button-txt-color);
  border-top:1px solid #aaa;
  border-right:1px solid #eee;
  border-left:1px solid #aaa;
  border-bottom:1px solid #eee;
}
.verb:hover {
  background-color: #ccc;
}

.contents { /* Boxes in a treepicker are clickable */
  cursor: pointer;
}
.expander { /* Show expanders as clickable even if they are within treepicker-empty */
  cursor: pointer;
}
.treepicker-empty {  /*   If empty then it is not clickable ORDER MATTERS */
  cursor: default;
}
.treepicker-collapse { /* but if it is also collapsed then it IS clickable again! ORDER MATTERS */
  cursor: pointer;
}
.verbs {
  color: #444;
  font-size: 85%;
}
.taxonomydiv {
  margin:0.1em;
}


.result-none, .result-error, .result-success, .result-default {
  display: inline-block;
}

.command.played pre{
  margin: 0.5em;
  padding: 0.5em;
}

.command.played {
  cursor: pointer;
}

.command.played .query-results{
  margin-left: 1em;
}
.command.played .query-results:last-child{
  margin-bottom: 0.5em;
}

/*  http://net.tutsplus.com/tutorials/html-css-techniques/lets-create-paper-with-css/ */
.command {
  margin-top: .1em;
  margin-top: .1em;
  padding: .1em;
  color: gray;
  background-color: rgb(235, 245, 255);
  border-style: solid;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border: none;
  position: relative;
  cursor: default;
  padding-right: 1em;
  /* AARRG!!!
       z-index: -1
         This is needed so inset_shadow covers the commands
         BUT then the delete buttons no longer work;
  */
}
.command.played {
  background-color: #fcf59b;  /* legal pad yellow */
}
.tabs-sparqlQueries .command.played {
  /*width: fit-content;*/
  width: fit-content;
  background-color: #fff;
  color: #555;
  margin: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(201,201,201,1);
  -moz-box-shadow: 0px 1px 3px 1px rgba(201,201,201,1);
  box-shadow: 0px 1px 3px 1px rgba(201,201,201,1);
  padding: 0.2px;
}

.delete-command {
  display: block;
  color: #777;
  font: 70% sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 3px;
  cursor: pointer;
  z-index: 500; /* why does this not work? */
}
.delete-command::after {
  content: "x";
}
.played .delete-command {
  display: none
}
.command code {
  font-family: sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: .9em;
  letter-spacing: .3px;
}
.commandlist {
  /* overflow-y: auto; */
  /* -webkit-border-top-right-radius: 20px 300px; */
  /* background-color: #81cbbc;  hairline blue */
  /* background-color: blue;  hairline blue */
}
.nextcommand {
  color: black;
  font-weight:bold;
  height: 2.2em;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.cmdlistbar {
  color: white;
  background-color: blue;
}
.cmdlisttitlebarcontent {
  background-color: blue;
  color: white;
}
.commandhistory {
  overflow-y: scroll;
  resize: vertical;
  min-height: 1.5em;
}
.commandhistory, .nextcommand {
  /* the box  styling */
  box-shadow: inset 2px 1px 10px 1px rgba(0,0,0,0.25);
  border-radius: .3em;
  border: .8px solid grey;
  margin-top: 1px;
}
.commandhistory .command{
  padding: .2em .4em;
}
.display_none {
  display:none;
}
.container {
  display:inline-block;
  border:1px solid;
  overflow:hidden;
}
.contents {
  font-size: 90%;
  /*border:1px solid;*/
  padding: .1em;
  overflow:auto;
}
.treepicker-showing {
  background-color: tan;
}
/* display: inline-block and white-space: nowrap */
.treepicker-hidden {
  /* for debugging, comment the following line disable collapsing */
  /*
  text-decoration: strikethrough;
   */
}
.treepicker-empty {
  background-color: white;
}
.treepicker-indirect-empty {
  /* for debugging, comment the following line to disable hiding */
  display: none;
}
#anything.treepicker-indirect-empty.treepicker-empty {
  background-color: white;
  display: block;
}
#anything.treepicker-indirect-empty.treepicker-empty .expander {
  display: none;
}
.treepicker-mixed {
  font-style: italic;
}
.close_snippet:before {
  margin-right: .2em;
  margin-top: .2em;
  float: right;
  color: white;
  padding: .05em;
  background-color: red;
  content: '✘';
}
.lateral {
  display:inline-flex;
}
.payload {
  color: grey;
  text-align: center;
}
.container .payload {
  display: inline;
  margin-left: 2px;
}
.container .payload:before {
  content: '(';
}
.container .payload:after {
  content: ')';
}
.treepicker-collapse > .container {
  /* for debugging, comment the following line disable collapsing */
  display:none; /* */
}
#sets {
  margin-right: 2px;
}
#sets.locked {
  background: darkgray;
  cursor: inherit;
}
.taxon_picker_box_parent {
  float: left;
  width: 48%
}
.predicate_picker_box_parent {
  float: right;
  width: 48%
}
.nextcommand_command {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
.nextcommand_prompt_ready {
  background-color: lightgreen;
}
.nextcommand_prompt_unready {
  background-color: lightpink;
  font-style: italic;
}
.nextcommand_prompt_proposed {
  color: red;
  font-style: bold;
}
.close_hint {
  background-color: red;
  color: white;
  border-radius: .5em;
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
}
.a_hint {
  border: .2em;
  font-size: 90%;
  font-family: "Times New Roman", Times, serif;
  background-color: #FFFF88;
  padding: .5em;
  margin-left: .7em;
  margin-right: .7em;
  margin-bottom: .7em;
}
.hints {
  margin-top: .5em;
}

/* ----------------- Dataset / Ontology Upload Forms ---------------- */

.pick_or_provide_form {
  margin-top: 1em;
}
.pick_or_provide_label {
  margin-left: 5px;
  text-transform: uppercase;
  color: #888;
  font-size: .8em;
  display: block;
}
.big_go_button {
  margin: 1.5em 0.5em;
  border-color: #999;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
  border-top: 1px solid #eee;
  border-right: 1px solid #aaa;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  background-color: var(--engaged-button-bg-color);
  color: var(--engaged-button-txt-color);
  padding: 3px 4px;
  border-radius: 3px;
}
.big_go_button:hover {
  background-color: #ddd;
  color:#000;
}
 button.big_go_button:disabled{
  color:#ccc;
  background-color: inherit;
  border-color: #ddd;
}
.pick_or_provide_form button:enabled{
  color: #9c1111;
  border-color: #9c7070;
  background-color: #fdf2f2;
  border-radius: 5px;
}
.pick_or_provide_form button:disabled{
  display: none;
}
.grown .commandhistory {
  height: clamp(2rem, 15vh, 8rem);
}
.shrunk .commandhistory {
  height: 2.8em;
}
.grow_shrink_history {
  float: right;
}
.scriptPlayerControls * {
  cursor:pointer;
}
.scriptPlayerControls [disabled]{
  cursor:not-allowed;
}




/*

TODO move this style_of_set_picker stuff to a new css file

SOLUTION: https://stackoverflow.com/a/47860039

It looks like this style_of_set_picker problem might need MATH.

Here are a few resources with hints in this direction:

  https://css-tricks.com/solving-last-item-problem-circular-distribution-partially-overlapping-items/
  https://stackoverflow.com/questions/16301625/rotated-elements-in-css-that-affect-their-parents-height-correctly
  https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items
*/


/* style_of_set_picker = wrenched */
.set_picker_box_parent.wrenched > .control_label::after{
  content: "(wrenched)";
  margin-left: 1em;
}
.set_picker_box_parent.wrenched > #sets.container {
  display: table;
  height: 9.3em;
}
..set_picker_box_parent.wrenched .contents {
  padding: 50% 0;
  /*   height: 0; */
}
.set_picker_box_parent.wrenched > #sets .treepicker-label {
  display: block;
  transform-origin: top left;
  transform: rotate(-75deg) translate(-100%);
  border: 1px solid black;
  margin-top: -50%;
  white-space: nowrap;
}


/* style_of_set_picker = tipped */
.set_picker_box_parent.tipped > .control_label::after{
  content: "(tipped)";
  margin-left: 1em;
}
.set_picker_box_parent.tipped #sets.container {
  display: inline-flex;
  height: 9.3em;
}
.set_picker_box_parent.tipped > #sets .treepicker-label {
  transform-origin: top left;
  transform: rotate(-75deg) translate(-100%);
  border: 1px solid black;
  margin: .35em;
  border-radius: .2em;
  float: left;
  display: inline-grid;
  height: 1.2em;
  width: 2em;
  white-space: nowrap;
}

/* style_of_set_picker = canted */
.set_picker_box_parent.canted > .control_label::after{
  content: "(canted)";
  margin-left: 1em;
}
.set_picker_box_parent.canted #sets.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: row;
  height: 9.3em;
}
.set_picker_box_parent.canted > #sets .treepicker-label {
  transform-origin: top left;
  transform: rotate(-75deg) translate(-140%, 1.1em);
  border: 1px solid black;
  margin: .35em;
  border-radius: .2em;
}

/* style_of_set_picker = torqued */
.set_picker_box_parent.torqued > .control_label::after{
  content: "(torqued)";
  margin-left: 1em;
}
.set_picker_box_parent.torqued > #sets.container {
  --move-sets-up: -8.5em;
  --move-sets-left: 8.5em;
  transform: translate(var(--move-sets-left), var(--move-sets-up)) rotate(270deg);
}
.set_picker_box_parent.torqued > #sets .treepicker-label {
  display: block;
  margin-left: .3em;
  height: 1.2em;
  padding:1px;
  transform: rotate(16deg) translate(1em, 0em);
  border: 1px solid black;
  border-radius: .3em;
}
.set_picker_box_parent.torqued {
  height: 9.3em;
}

/* style_of_set_picker END */
