#gclui {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-height: 32em;
  overflow-y: scroll;
}
.alternates {
  float:left;
}
.verbs {
  margin:.1em;
}
.verb {
  border:2px solid;
  margin:0.05em;
  cursor: pointer;
}
.contents { /* Boxes in a treepicker are clickable */
    cursor: pointer;
}
.expander { /* Show expanders as clickable even if they are within treepicker-empty */
  cursor: pointer;
}
.treepicker-empty {  /*   If empty then it is not clickable ORDER MATTERS */
  cursor: default;
}
.treepicker-collapse { /* but if it is also collapsed then it IS clickable again! ORDER MATTERS */
  cursor: pointer;
}
.engaged {
  background-color: tan;
}
.taxonomydiv {
  margin:0.1em;
}
/*  http://net.tutsplus.com/tutorials/html-css-techniques/lets-create-paper-with-css/ */
.command {
  margin-top: .1em;
  margin-top: .1em;
  padding: .1em;
  color: gray;
  background-color: #fcf59b; /* legal pad yellow */
}
.commandlist {
  overflow-y: auto;
  /* -webkit-border-top-right-radius: 20px 300px; */
  /* background-color: #81cbbc;  hairline blue */
  background-color: blue; /* hairline blue */
}
.nextcommand {
  color: black;
  font-weight:bold;

}
.cmdlistbar {
  color: white;
  background-color: blue;
}
.cmdlisttitlebarcontent {
  background-color: blue;
  color: white;
}
.commandhistory {
  overflow-y: scroll;
  max-height: 6em;
}
.display_none {
  display:none;
}
p {
    width:auto;
    float:left;
    margin: .1em;
}
.container {
    display:inline-block;
    border:1px solid;
    overflow:hidden;
}
.contents {
    font-size: 90%;
    border:1px solid;
    padding: .1em;
    overflow:auto;
}
.treepicker-showing {
    background-color: tan;
}
/* display: inline-block and white-space: nowrap */
.treepicker-hidden {
  /* for debugging, comment the following line disable collapsing */
  /*
  text-decoration: strikethrough;
   */
}
.treepicker-empty {
  background-color: white;
}
.treepicker-indirect-empty {
  /* for debugging, comment the following line to disable hiding */
  display: none;
}
#anything.treepicker-indirect-empty.treepicker-empty {
  background-color: white;
  display: block;
}
#anything.treepicker-indirect-empty.treepicker-empty .expander {
  display: none;
}
.treepicker-mixed {
  font-style: italic;
}
.close_snippet:before {
  margin-right: .2em;
  margin-top: .2em;
  float: right;
  color: white;
  padding: .05em;
  background-color: red;
  content: '✘';
}
.lateral {
  display:inline-flex;
}
.payload {
  color: grey;
  text-align: center;
}
.container .payload {
  display: inline;
  margin-left: 2px;
}
.container .payload:before {
  content: '(';
}
.container .payload:after {
  content: ')';
}
.treepicker-collapse > .container {
  /* for debugging, comment the following line disable collapsing */
  display:none; /* */
}
#sets {
  margin-right: 2px;    
}
#sets.locked {
  background: darkgray;
  cursor: inherit;
}
.set_picker_box_parent {
  float: left;
  width: 32%;
}
.taxon_picker_box_parent {
  float: right;
  width: 66%
}
#tabs {
  /* max-height: 80%; */
}
.nextcommand_command {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
.nextcommand_prompt_ready {
  color: black;
}
.nextcommand_prompt_unready {
  color: grey;
  font-style: italic;
}
.close_all_snippets_button {
    cursor: pointer;
    width:15px;
    height:15px;
    background-image:url('/close_all.png');
    background-size:16px;
}
.graph_control input {
    cursor: inherit;
}
.graph_control label {
    cursor: inherit;
}
.ui-widget-content .ui-icon {
    background-image:url('/close_box.png');
    background-position:initial;
    background-size:16px;
    border-style: none;
    background-color:initial;
}
.close_hint {
    background-color: red;
    color: white;
    border-radius: .5em;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
}
.reminder {
    border: .2em;
    font-size: 90%;
    font-family: "Times New Roman", Times, serif;
    background-color: #FFFF88;
    padding: .5em;
    margin-left: .7em;
    margin-right: .7em;
    margin-bottom: .7em;    
}
.hints {
    margin-top: .5em;
}
