#tabs-intro h1 {
  font-size: 36px;
}
#tabs-intro h2 {
  font-size: 18px;
}
#tabs-intro h1, h2, h6{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.huviz-versions {
  text-align: center;
  font-size: 80%;
}
#tabs-intro h3 {
  margin-bottom: 0px;
}
#tabs-intro ul {
  padding-left: 16px;
}
.eg-subject {
  color: red;
}
.eg-verb {
  color: green;
}
.eg-object {
  color: blue;
}
.little-hint {
  font-size: 60%;
}
.git-branch-is-master {
  background-color:PaleGreen;
}
.git-branch-is-beta {
  background-color:Gold;
}
.git-branch-is-alpha {
  background-color:Thistle;
}
.git-branch-is- { /* ie some other git branch */
  background-color:LightGray;
}
.current-git-branch:before {
  content: '✔';
  color: DarkGreen;
}
.speech_bubble {
  background-color:amber;
  border-radius:.5em;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 1px;
}
.a_human_term { /* the style applied by default by Huviz.replace_human_term_spans() */
  font-style: oblique;
}
#tabs-intro .ui-widget {
  font-weight: 600;
}
.help_content {
    font-size: 70%;
}
.reminder {
    background-color: #FFFF88;
    padding: .5em;
    font-size: 90%;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;    
    font: "Times New Roman";
    //transform: rotate(3deg);
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}
