#tabs-help h1 {
  font-size: 36px;
}
#tabs-help h2 {
  font-size: 18px;
}
#tabs-help h1, h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.huviz-versions {
  text-align: center;
}
#tabs-help h3 {
  margin-bottom: 0px;
}
#tabs-help ul {
  padding-left: 16px;
}
.eg-subject {
  color: red;
}
.eg-verb {
  color: green;
}
.eg-object {
  color: blue;
}
.little-hint {
  font-size: 60%;
}
.git-branch-is-master {
  background-color:PaleGreen;
}
.git-branch-is-beta {
  background-color:Gold;
}
.git-branch-is-alpha {
  background-color:Thistle;
}
.current-git-branch:before {
  content: '✔';
  color: DarkGreen;
}
