#tabs {
  position: fixed;
  width: 25em;
  right: 0px;
  font-size: 80%;
  z-index: 3;
}
.graph_controls { /* put them in the upper right, above the graph */
  right: .2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.graph_controls label { /* slide them to the right */
  float: right;
  clear: both;
}
#huvis_controls {
  padding: 1em 0.4em;
}
.search_box {
  height:1.3em;
  min-width:7em;
  background-color:lightgrey;
  //position:absolute;
  //top:3.5em;
  //left:.2em;
  //z-index:2;
  float:left;
  border-width:1
  cursor: text;
}
.search_box:before {
  content: "Find: ";
  font-style: italic;
}
#show_links {
  background-color: lightblue;
  //position:absolute;
  //top: 5em;
  //left: 1em;
  //z-index:2;
  cursor: pointer;
}
#hide_links {
  background-color: lightblue;
  //position:absolute;
  //top: 6.5em;
  //left: 1em;
  //z-index:2;
  cursor: pointer;
}
#display_tech {
  background-color: lightblue;
  //position:absolute;
  //top: 9em;
  //left: 1em;
  //z-index:2;
  cursor: pointer;
}
#status {
  background-color:lightgrey;
  position:absolute;
  bottom: -0.8em;
  right: .2em;
  font-size: 120%;
  z-index: -100;
  user-select: none;
}
#snippet_box {
  position:absolute;
  top: .2em;
  left: .2em;
  font-size: 90%;
  //z-index:2;

  //overflow: scroll;
  width: 3px;
  height: 30%;
}
.snippet {
  background-color: "lightgray";
}
body, html {
  height: 98%
}
#state_msg_box {
  background-color: grey;
  color: blue;
  opacity: 0.2;
  z-index: 5;
  position:fixed;
  text-align: center;
  font-size: 300%;
  width: 99vw;
  height: 98vh; /* http://stackoverflow.com/questions/157514 */
  margin: 0px;
  border: 0px;
  border-radius: 20px;
}
.git_commit_hash {
  font-size: 20%;
  color: grey;
}
.control_label {
  margin-top: 2px;
  font-weight: bold;
  font-size: 90%;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}
