
rect {
  fill: none;
  pointer-events: all;
}

.node circle {
  fill: #000;
}

.node text {
  font: 7.5px sans-serif;
  pointer-events: none;
  //text-anchor: middle;
}

.nearest_node text {
  font: 9px sans-serif;
  fill: #f00
}

.cursor {
  fill: none;
  stroke: #eee;
  pointer-events: none;
}

.link {
  stroke: #CCC;
}

.underneath {
  position: absolute; 
  top: 0; 
  left: 0;
}
