#file_picker_box {
  position: absolute;
  top: .2em;
  left: .2em;
  z-index: 3;
}
#huvis_controls {
  position: absolute;
  bottom: .2em; 
  left: .2em; 
  z-index: 2; 
  float: left;   
}

.search_box {
  height:1.3em; 
  min-width:7em; 
  background-color:lightgrey; 
  //position:absolute;
  //top:3.5em; 
  //left:.2em; 
  //z-index:2; 
  float:left; 
  border-width:1
  cursor: text;
}
.search_box:before {
  content: "Find: ";
  font-style: italic;
}
#show_links {
  background-color: lightblue;
  //position:absolute;
  //top: 5em;
  //left: 1em;
  //z-index:2;
  cursor: pointer;
}
#hide_links {
  background-color: lightblue;
  //position:absolute;
  //top: 6.5em;
  //left: 1em;
  //z-index:2;
  cursor: pointer;
}
#display_tech {
  background-color: lightblue;
  //position:absolute;
  //top: 9em;
  //left: 1em;
  //z-index:2;
  cursor: pointer;
}
#status {
  background-color:lightgrey;
  position:absolute;
  bottom: .2em;
  right: .2em;
  z-index:2;
}
