
body {
  margin: 0;
  font-family: helvetica, arial, verdana, sans-serif;
}
body, html {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

/* --------------- SVG styles ----------------- */

rect {
  fill: none;
  pointer-events: all;
}
.node circle {
  fill: #000;
/*  stroke: red;
  stroke-width: 1px;
*/
}
.node text {
  font: 7.5px sans-serif;
  pointer-events: none;
  /* text-anchor: middle; */
}
.nearest_node text {
  font: 9px sans-serif;
  fill: #f00
}
.cursor {
  fill: none;
  stroke: #eee;
  pointer-events: none;
}
.link {
  stroke: #CCC;
}
.underneath {
  position: absolute;
  top: 0;
  left: 0;
}
.transient {
  font-style: italic;
}
.snippet_id {
  color: grey;
  float: right;
}
