:root{
  --prim-btn-bg: #107386;
  --prim-btn-bg-hover: #135174;
  --sec-btn-bg: #ffffff;
  --sec-btn-bg-hover: #F1EDED;
  --action-btn-color: #0072b2;
  --action-btn-bg: #ffffff;
  --action-btn-bg-hover:#0072b2;
  --font-white: #ffffff;
  --font-black: #333333;
  --font-grey: #696868;
  --btn-actions-blue: #0072b2;
  --disabled-bg-color: #C4C4C4;
  --disabled-font-color: #696868;
  --font: 'Lato';
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  font: var(--font);
  color: var(--font-black);
}
h1{
  font-size: 24px;
  font-weight: bold;
}
p{
  font-size: 16px;
  color: var(--font-black);
}

div.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 5%;
  width: 40vw;
  height: 6vw;
}
.navbar-item>a{
  font: var(--font);
  font-size: 22px;
  line-height: 1.8em;
  color: var(--font-black);
  text-decoration: none;
}
.navbar-item:hover>a{
  color: var(--action-btn-color);
  text-decoration: underline;
}
.logo>svg{
  max-width: 8.8vw;
  max-height: 5.3vw;
}


.supports-dnd{
  height: 90%;
}
.supports-dnd.is-dragover .content {
  background-color: red;
  height: 100%;
}

main{
  position: relative;
  display: flex;
  margin: 4vw;
  height: 90%;
}

div.displayscreen{
  padding: 1.5vw 1vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 5%;
}

div.screen-info{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 90%;
  margin: 0;
  flex-basis: 20%;
}
div.screen-info>h1,
div.screen-info>p{
  text-align:center;
  padding: 0.4vw 4vw;
  margin: 0;
}

button.back{
  min-width: fit-content;
  max-width: fit-content;
  height: auto;
  border: none;
  color: var(--btn-actions-blue);
  font-size: 16px;
  background: #ffffff;
  padding: 8px;
}
button.back>p>svg{
  width: auto;
  height: 16px;
  vertical-align: text-bottom;
}
button.back:hover{
  text-decoration: underline;
}

div.option-list{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0vw 1.5vw;
  flex-basis: 60%;
  row-gap: 10%;
}

div.option{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  max-width: 100%;
  column-gap: 5%;
}
div.option.input{
  justify-content: space-between;
  max-width: 100%;
}

input.url-input, input::placeholder{
  font-size: 16px;
  padding: 0.3vw;
  max-width: 100%;
  min-width: 70%;
}

.pick_or_provide{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10%;
}
div.category-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10%;
  max-width: 100%;
}
div.category{
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  overflow: auto;
  align-items: flex-start;
  justify-content: flex-start;
  width:100%;
}

div.category-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  margin: 0.2vw;
}
div.category-header>h3{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
div.category-header>p{
  text-align: left;
  font-size: 14px;
  color: var(--font-grey);
  margin: 0;
}
.category-header>svg{
  width: 0.2vw !important;
  height: auto;
  padding: 0.5vw;
  color: var(--font-grey);
}
p.view-all{
  display: none;
  font-size: 12px;
  color: var(--font-grey);
}

div.pill-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5%;
  overflow: hidden;
  max-height: 5vw;
  min-width: 100%;
  max-width: 100%;
}
.pick_or_provide_item {
  padding: 0.3vw 0.775vw;
  border: 0.116vw solid #9fb1df;
  border-radius: 20px;
  color: #1d1d1d;
  font-family: var(--font);
  font-size: 14px;
  justify-content: space-between;
  display: inline;
  margin: 0.3vw;
}
.pick_or_provide_item:hover{
  background: rgba(159, 177, 223, 0.3);
}

button{
  min-width: 6.375em;
  height: 2.563em;
  border-radius: 12px;
  text-align: center;
  padding: 0.6vw 1.2vw;
  font-family: var(--font);
  font-size: 18px;
}
button.disabled{
  pointer-events: none;
}
button .disabled.primary,
button.disabled.secondary,
button.disabled.action{
  background: var(--disabled-bg-color);
  color: var(--disabled-font-color);
  border:none;
}

button.primary {
  border: none;
  background: var(--prim-btn-bg);
  color: var(--font-white);
}
button.primary:hover {
  background: var(--prim-btn-bg-hover);
}

button.secondary{
  border: 0.078vw solid #c4c4c4;
  text-align
  background: var(--sec-btn-bg);
  color: var(--font-black);
}
button.secondary:hover {
  background: var(--sec-btn-bg-hover);
}

button.action{
  border: 0.155vw solid var(--action-btn-color);
  padding: 0.5vw 1vw;
  color: var(--action-btn-color);
  background: var(--action-btn-bg);
}
button.action:hover{
  background: var(--action-btn-bg-hover);
  color: var(--font-white);
}
