SPARQLWrapper==1.5.2
beautifulsoup4==4.3.2
html5lib==1.0b3
ipython==7.16.3
isodate==0.4.9
pyparsing==1.5.7
rdflib==4.0.1
six==1.4.1
wsgiref==0.1.2
# needed by orlandoScrape and by server createSnippetServer, but both are sunsetting...
#lxml==3.4.2
#lxml-xpath2-functions==0.0.4
