<!DOCTYPE html>
<html>
  <head>
    <title>Huvis (boxed)</title>
    <%- include('huviz_css_stanza', nopts) %>
    <script>
      window.module = {};
    </script>
  </head>
  <body id="body" style="background-color:grey">
    <% if (nopts.git_commit_hash) { %>
    <script type="text/javascript">
      window.HUVIZ_GIT_COMMIT_HASH = "<%= nopts.git_commit_hash %>";
    </script>
    <% } %>
    <div id="HUVIZ_TOP" class="HUVIZ_TOP huviz_wrapper" style="margin:5%;width:90%;height:90%"></div>
    <div style="display:none">
      <%# until the intro tab is rendered as markdown %>
      <%- include('tabs/intro') %>
    </div>
    <%- include('huviz_js_stanza', nopts) %>
    <script src="/js/init_huvis.js"></script>

  </body>
</html>
