    <div class="help_content" style="display:inline">
      <div style="position:absolute; top:5px; right:5px">
        <a href="http://cwrc.ca/HuViz_Documentation/" target="_blank">Manual</a>
	       <i class="fa fa-external-link"></i>
      </div>
      <h3>Quick Start</h3>
      <dl>
      	<dt>Load Data Set</dt>
      	<dd>
      	  <ul>
      	    <li>
      	      Go to the <a class="open_tab" href="#2">Commands tab</a> and
      	      <code style="background:lightgrey">Pick a Data Set</code>, for
      	      example <em>Maria Abdy</em>.
      	    </li>
      	  </ul>
      	</dd>
      	<dt>Two Ways to Execute Commands</dt>
      	<dd>
      	  <ol>
      	    <li>Directly in the Graph using the "drag and drop" technique</li>
      	    <li>By choosing a combination of a Verb + Set or Class or Selection.</li>
      	  </ol>
      	</dd>
      	<dt>Graph Nodes</dt>
      	<dd>
      	  <ul>
      	    <li>
      	      Next, experiment in the graph by dragging nodes between
      	      the three main areas: the Central Graph, the green Shelf
      	      and the red Discard Bin.
      	    </li>
      	    <li>
      	      Notice how nodes in the central graph will link together
      	      to form networks.
      	      <span class="human_term__chosen">Chosen</span> nodes,
      	      identified by the black outline, are nodes that have been
      	      dragging into the centre.  Any node that is directly
      	      connected to an
      	      <span class="human_term__chosen">Chosen</span> node will
      	      automatically be pulled into the graph.  Together, these
      	      nodes will link to form a network.
      	    </li>
      	    <li>
      	      To <span class="human_term__choose">Choose</span> a node in the
      	      <a class="open_tab" href="#2">Commands tab</a>:
      	      <ol>
      		<li>Click the <span class="control_label">Verb</span>
      		  <span class="human_term__choose">Choose</span></li>
      		<li>Click the <span class="control_label">Class</span>
      		  (such as <span class="taxon">Organization</span>
      		  or <span class="taxon">Person</span>)
      		</li>
      	      </ol>
      	    </li>
      	    <li>
      	      Return nodes to the green Shelf from the central graph by
      	      clicking and dragging OR engaging
      	      the <span class="control_label">Verb</span>
      	      <span class="human_term__shelve">Shelve</span>
      	      from the <a class="open_tab" href="#2">Commands tab</a>.
      	    </li>
      	  </ul>
      	</dd>
      	<dt>View Connections</dt>
      	<dd>
      	  <ul>
      	    <li>
      	      Hover over nodes and edges to see their labels.  Notice
      	      that a tiny speech bubble appears.  The bubble notifies
      	      the user what will happen if the cursor is clicked (or
      	      released if dragging).  The bubble updates automatically
      	      based on the location of the cursor and which Verbs have
      	      been engaged.
      	    </li>
      	    <li>
      	      The Edge label describes the type and number of
      	      connections between two nodes (Ex: hasMother(1)).  Click
      	      on the Edge to open the <strong>Snippet Windows</strong>
      	      and explore the relationship between the nodes in more
      	      detail.
      	    </li>
      	  </ul>
      	</dd>
      	<dt>Adjust Appearance</dt>
      	<dd>
      	  <ul>
      	    <li>
      	      Click on the <a class="open_tab" href="#1">Settings tab</a>
      	      to adjust the physical appearance of the graph.
      	      Play with the <em>gravity</em>, <em>charge</em>
      	      and <em>link distance</em> to control how tightly the
      	      nodes fit together.
      	    </li>
      	  </ul>
      	</dd>
      	<dt>Using the Discard Bin</dt>
      	<dd>
      	  <ul>
      	    <li>
      	      Drag nodes to the red Discard Bin at the bottom right to
      	      temporarily keep them from being pulled into the Central
      	      Graph.
      	    </li>
      	    <li>
      	      <span class="human_term__retrieve">Retrieve</span>
      	      <span class="human_term__discarded">Discarded</span> nodes manually
      	      by dragging them back to the Central Graph or Shelf.
      	    </li>
      	    <li>
      	      To <span class="human_term__retrieve">Retrieve</span>
      	      only certain nodes using the
      	      <a class="open_tab" href="#2">Commands tab</a>:
      	      <ol>
      		<li>
      		  Click the <span class="control_label">V=erb</span>
      		  <span class="human_term__retrieve">Retrieve</span>
      		</li>
      		<li>
      		  Click the <span class="control_label">Class</span>
      		  (eg: <span class="taxon">Person</span> or
      		  <span class="taxon">Place</span>)
      		</li>
      	      </ol>
      	    </li>
      	</dd>
      </dl>
    </div>
