    <div class="hint_set" style="display:none">
      <div class="a_hint">
	      <strong>Two Ways to Execute Commands</strong>
      	<ol>
      	  <li>Directly in the Graph using the "drag and drop" technique</li>
      	  <li>By choosing a combination of a Verb + Set or Class or Selection.</li>
      	</ol>
      </div>
    </div>
