<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Huvis History Mockup</title>
    <style>
      .commandHistory {
	  padding: 1em;
	  border-style: solid;
	  border-radius: 0.3em;
	  background-color: white;
      }
      .command{
	  padding: .1em;
          margin: .15em;
      }
      .played {
	  background-color: #fcf59b;
      }
      .ready {
	  background-color: lightgreen;
      }
      .unready {
	  background-color: lightpink;
      }
      .nextcommand {
          /*
             height: 2.2em;
          background-color: rgb(235, 245, 255);
         */
      }
      .command > .verb_phrase,
      .command > ._phrase {
          border-style: solid;
          height: 1em;
      }
      .nextcommand_prompt_unready {
	  float: left;
          width: 4em;
          height: 1em;
          border-bottom: 1px solid black;
      }
      .nextcommand_prompt_ready {
          float: left;
      }
      .noun_phrase {
          margin-left: .3em;
      }
      .nextcommand_prompt {
          height: 1em;
      }
      .allcommands {
          margin-top: 3px;
          border: .8px solid grey;
          overflow: scroll;
          border-radius: .3em;
          padding: 1px;
          /* https://www.cssmatic.com/box-shadow */
          -webkit-box-shadow: inset 3px 0px 8px 9px rgba(0,0,0,0.25);
          -moz-box-shadow: inset 3px 0px 8px 9px rgba(0,0,0,0.25);
          box-shadow: inset 3px 0px 8px 9px rgba(0,0,0,0.25);
      }
      .allcommands.grown {
          height: 20em;
      }
      .allcommands.shrunken {
          height: 5em;
      }
      .grow_shrink_history {
          float: right;
      }
      /* just for this mockup */
      body {
          width: 25em;
      }

    </style>
  </head>
  <body id="body" style="background-color:grey">
    <div class="commandHistory">
      <div class="control_label" style="display:inline">Command History</div>
	<div class="scriptPlayerControls">
	  <button title="rewind to start">
	    <i class="fa fa-fast-backward"></i>
	  </button>
	  <button title="go back one step">
	    <i class="fa fa-play fa-flip-horizontal"></i>
	  </button>
	  <button title="play script step by step">
	    <i class="fa fa-play"></i>
	  </button>
	  <button title="play script continuously">
	    <i class="fa fa-fast-forward"></i>
	  </button>
	  <button title="save script to file" style="margin-left:1em">
	    <i class="fa fa-download"></i>
	  </button>
	  <button title="save script as .json" style="display:none">
	    <i class="fa fa-download"><span>.json</span></i>
	  </button>
	  <button title="save script to menu">
	    <i class="fa fa-bars"></i>
	  </button>
          <i class="grow_shrink_history fa fa-angle-double-down"></i>
	</div>
        <div class="allcommands shrunken">
	  <div class="nextcommand command">
	    <code class="nextcommand_str" style="display: none;"></code>
	    <div class="nextcommand_prompt unready">
	      <span class="verb_phrase nextcommand_prompt_unready"></span>
	      <span class="noun_phrase nextcommand_prompt_unready"></span>
	      <span class="suffix_phrase"></span>
	    </div>
	  </div>
        </div>
    </div>

    <div class="verbs picker" data-speech="verb">
      Verbs:<br/>
      <button>Activate</button>
      <button>Select</button>
      <button>Label</button>
      <button>Shelve</button>
      <button>Discard</button>
      <button>Pin</button>
      <br/>
      <button>Deactivate</button>
      <button>Unselect</button>
      <button>Unlabel</button>
      <button>Hide</button>
      <button>Retrieve</button>
      <button>Unpin</button>
    </div>

    <div class="sets picker" data-speech="noun">
      Sets:<br/>
      <button>Activated</button><br/>
      <button>Discarded</button><br/>
      <button>Graphed</button><br/>
      <button>Hidden</button><br/>
      <button>Labelled</button><br/>
      <button>Pinned</button><br/>
      <button>Selected</button><br/>
      <button>Shelved</button><br/>
      <button>Walked</button><br/>
    </div>
    <script src="/js/historymockup.js"></script>
  </body>
</html>
