<!DOCTYPE html>
<html>
  <head>
    <title>Huvis History Mockup</title>
  </head>
  <body id="body" style="background-color:grey">
    <div class="commandBox">
      <div class="">
      </div>
    </div>







    
    <style>
      span {
          width: 8em;
          background-color: red;
          border-bottom = 1px solid black;
      }
      #currentCommand {
          height: 1.5em;
          width: 12em;
          background-color: rgb(235, 245, 255);
      }
    </style>
    <div id="currentCommand">
      <span id="nextVerb"></span>
      <span id="nextNoun"></span>
    </div>
    <div class="verbs">
      <button>Activate</button>
      <button>Pin</button>
    </div>
    <div class="sets">
      <button>Selected</button>
      <button>Graphed</button>
    </div>
    <script src="/js/historymockup.js"></script>
  </body>
</html>
