<!DOCTYPE html>
<html>
  <head>
    <title>Huvis Graph Visualization</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="icon" href="/favicon.ico?v=4" type="image/x-icon" />
    <link href="/jquery-ui-css/jquery-ui.css" rel="stylesheet"/>
    <link href="/css/huvis.css" rel="stylesheet" type="text/css">
    <link href="/css/huvis_controls.css" rel="stylesheet" type="text/css">
    <link href="/css/lariat.css" rel="stylesheet" type="text/css">
    <link href="/css/CRRT.css" rel="stylesheet" type="text/css">
    <link href="/css/gclui.css" rel="stylesheet" type="text/css">
    <link href="/css/help.css" rel="stylesheet" type="text/css">
  <% if (nopts.is_local) { %>
    <!--
    <XXlink href="/css/debugging.css" rel="stylesheet"/>
      -->
  <% } %>
    <script>
      window.module = {};
    </script>
    <script src="/marked/marked.min.js"></script>
    <script src="/node_modules/async/lib/async.js"></script>
    <script src="/vendor/green_turtle.js"></script>
    <script src="//cdn.rawgit.com/fnando/sparkline/master/dist/sparkline.js"></script>
  <% if (nopts.is_local) { %>
    <script src="/jquery/jquery.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
  <% } else { %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <% } %>
  <% if (nopts.git_commit_hash) { %>
    <script type="text/javascript">
      window.HUVIZ_GIT_COMMIT_HASH = "<%= nopts.git_commit_hash %>";
    </script>
  <% } %>
  </head>
  <body id="body">
    <div id="HUVIZ_TOP" class="HUVIZ_TOP huviz_wrapper"></div>
    <div style="display:none">
      <%# until the intro tab is rendered as markdown %>
      <%- include('tabs/intro') %>
    </div>
    <script src="/huviz/huviz.js?23234"></script>
    <script src="/js/init_huvis.js"></script>

  </body>
</html>
