<!DOCTYPE html>
<html>
  <head>
    <title>Huvis Graph Visualization</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="icon" href="/favicon.ico?v=4" type="image/x-icon" />
    <link href="/jquery-ui-css/jquery-ui.css" rel="stylesheet"/>
    <link href="/css/huvis.css" rel="stylesheet" type="text/css">
    <link href="/css/huvis_controls.css" rel="stylesheet" type="text/css">
    <link href="/css/lariat.css" rel="stylesheet" type="text/css">
    <link href="/css/CRRT.css" rel="stylesheet" type="text/css">
    <link href="/css/gclui.css" rel="stylesheet" type="text/css">
    <link href="/css/help.css" rel="stylesheet" type="text/css">
    <style></style>
  <% if (nopts.is_local) { %>
    <!--
    <XXlink href="/css/debugging.css" rel="stylesheet"/>
      -->
  <% } %>
    <script>
      window.module = {};
    </script>
    <script src="/node_modules/async/lib/async.js"></script>
    <script src="/vendor/green_turtle.js"></script>
    <script src="/marked/marked.min.js"></script>
    <script src="//cdn.rawgit.com/fnando/sparkline/master/dist/sparkline.js"></script>
  <% if (nopts.is_local) { %>
    <script src="/jquery/jquery.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
  <% } else { %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <% } %>
  </head>
  <body id="body">
    <div id="performance_dashboard"></div>
    <div id="full_screen" style="position:absolute;z-index:999"><i class="fa fa-arrows-alt"></i></div>
    <div id="snippet_box"></div>
    <div id="expand_cntrl" style="visibility:hidden"><i class="fa fa-angle-double-left"></i></div>
    <section id="tabs" role="controls">
      <div id="collapse_cntrl"><i class="fa fa-angle-double-right"></i></div>
      <div id="ctrl-handle" class="ui-resizable-handle ui-resizable-w"><div id="ctrl-handle-grip">o</div></div>
        <ul style="font-size:80%">
          <li>
              <a href="#tabs-intro" title="Introduction and Usage">Intro<!--<i class="fa fa-info"></i>--></a>
          </li>
          <li><a href="#huvis_controls" title="Power tools for controlling the graph with commands consisting of verbs and nouns.">Commands</a></li>
          <li><a href="#tabs-options" title="Fine tune sizes, lengths and thicknesses.">Settings</a></li>
          <li><a href="#tabs-history" title="The command history">History</a></li>
          <li><a href="#tabs-credit" title="Academic, funding and technical credit.">Credits</a></li>
          <!-- <li>
            <a href="#tabs-help" title="show help window">
              <i class="fa fa-question"></i>
            </a>
          </li>
          -->
        </ul>
        <%- inject('tabs/intro') %>
        <div id="tabs-options" class="scrolling_tab"></div>
        <div id="huvis_controls" class="scrolling_tab">
          <span>
            <button id="reset_btn" style="display:none" type="button"
  		  onclick="HVZ.reset_data(this)">reset</button>
            <button id="reload_btn" style="display:none"
  		  onclick="window.location.href='/'">reload</button>
          </span>
        </div>
        <div id="gclui"></div>
      </div>
        <div id="tabs-credit" class="scrolling_tab">
        </div>
        <div id="tabs-history">
        </div>
        <div id="tabs-help" style="height:0px"></div>
    </section>
    <div id="vis" class="underneath" style="z-index:-3"></div>
    <div id="viscanvas" class="underneath"></div>
    <pre id="status"></pre>
    <div id="state_msg_box"></div>

    <script src="/huviz/huviz.js?23234"></script>
    <script src="/js/init_huvis.js"></script>


  <% if (nopts.git_commit_hash) { %>
    <div id="graph_title_set" class="git_commit_hash_watermark">
      <a class="git_commit_hash_watermark subliminal"
         target="huviz_version"  tabindex="-1"
         href="https://github.com/smurp/huviz/commit/<%= nopts.git_commit_hash %>"><%= nopts.git_commit_hash %></a>
      <span id="dataset_watermark" class="subliminal"></span>
      <span id="ontology_watermark" class="subliminal"></span>
    </div>
  <% } %>
  </body>
</html>
