<!DOCTYPE html>
<html>
  <head>
    <title>Huvis Graph Visualization</title>
    <%- include('huviz_css_stanza', nopts) %>
    <script>
      window.module = {};
    </script>
  <% if (nopts.git_commit_hash) { %>
    <script type="text/javascript">
      window.HUVIZ_GIT_COMMIT_HASH = "<%= nopts.git_commit_hash %>";
    </script>
  <% } %>
  </head>
  <body id="body" style="background-color:grey">
    <style>
      .outerBox {
        height: 100%;
        overflow: hidden;
      }
      .innerBox {
        margin: 2%;
        height: 96%;
        width: 46%;
        float: left;
        overflow: hidden;
      }
    </style>
    <div class="outerBox">
      <div id="HUVIZ_TOP" class="HUVIZ_TOP innerBox huviz_wrapper"></div>
      <div id="SEARCH_TOP" class="SEARCH_TOP innerBox huviz_wrapper"></div>
    </div>
    <div style="display:none"> <%- include('tabs/intro') %> </div>
    <%- include('huviz_js_stanza', nopts) %>

    <script src="/js/init_huvis.js"></script>
    <script src="/js/init_search.js"></script>

  </body>
</html>
