
    <!-- THIS HAS BEEN RENDERED REDUNDANT BY THE METHOD HuViz.create_tabs() -->

    <section id="tabs" role="controls">
      <div id="collapse_cntrl"><i class="fa fa-angle-double-right"></i></div>
      <div id="ctrl-handle" class="ui-resizable-handle ui-resizable-w"><div id="ctrl-handle-grip">o</div></div>
        <ul class="the-tabs">
          <li><a href="#tabs-intro" title="Introduction and Usage">Intro<!--<i class="fa fa-info"></i>--></a></li>
          <li><a href="#huvis_controls" title="Tools for controlling the graph">Commands</a></li>
          <li><a href="#tabs-options" title="Fine tune sizes, lengths and thicknesses">Settings</a></li>
          <li><a href="#tabs-history" title="The command history">History</a></li>
          <li><a href="#tabs-credit" title="Academic, funding and technical credit">Credits</a></li>
          <!--
          <li>
            <a href="#tabs-help" title="show help window">
              <i class="fa fa-question"></i>
            </a>
          </li>
          -->
        </ul>
        <div id="tabs-intro" class="scrolling_tab"></div>
        <div id="tabs-options" class="scrolling_tab"></div>
        <div id="huvis_controls" class="scrolling_tab"></div>
        <div id="gclui"></div>
        <div id="tabs-credit" class="scrolling_tab"></div>
        <div id="tabs-history"></div>
        <div id="tabs-help" XXXstyle="height:0px"></div>
    </section>

