          <div id="contents_of_intro_tab">
            <h1 class="git-<%= nopts.git_branch_name %>">
              HuViz
              <sup class="semantic-version">
                  <a target="_" href="https://gitlab.com/calincs/access/HuViz/"><%= process.env.npm_package_version%></a>
                </sup>
            </h1>
            <h2>RDF Explorer</h2>
            <h6>(currently works best in Google Chrome)</h6>
            <div class="huviz-versions" style="font-size:1.5em">
              <a href="http://huviz.lincsproject.ca"
                 class="git-branch-main <% if (nopts.git_branch_name == 'main') {%>current-git-branch<% } %>">main</a>
              <a href="http://huviz-classic.lincsproject.ca"
                 class="git-classic  <% if (nopts.git_branch_name == 'classic') { %>current-git-branch<% } %>">classic</a>
              <% if (nopts.git_branch_name != 'main' && nopts.git_branch_name != 'classic') { %>
                <a target="_"
                     href="https://gitlab.com/calincs/access/HuViz/-/environments" class="current-git-branch">branch</a>
              <% }%>
            </div>
            <h4 style="font-size: 1.3em"><a target="_" href="https://cwrc.ca/Documentation/HuViz/">Documentation</a></h4>
            <h4 style="zoom: 0.8"><a href="https://nooron.com/public/HuViz_DH2019.pdf">Emergent Serendipity with HuViz</a></h4>

            <p>
              The Humanities Visualizer (HuViz) interface allows for the
              exploration of semantic relationships and ontologies
              represented using the Resource Description Framework.
            </p>
            <p>
              You can load your own ontology and/or dataset, or you can
              chose to explore one of the existing datasets available on the
              Command panel to explore the information and relationships
              encoded in the textbase
              <a target="_" href="http://www.artsrn.ualberta.ca/orlando/">Orlando: Women's Writing in the British Isles from the Beginnings to the Present</a>.
              For example, Huviz allows for the exploration in RDF triples that assert things like
            </p>
            <ul>
              <li>
                <span class='eg-subject'>Virginia Woolf</span>
                <span class='eg-verb'>hasGender</span>
                <span class='eg-object'>woman</span>
              </li>
              <li>
                <span class='eg-subject'>Virginia Woolf</span>
                <span class='eg-verb'>hasSister</span>
                <span class='eg-object'>Vanessa Bell</span>
              </li>
              <li>
                <span class='eg-subject'>Virginia Woolf</span>
                <span class='eg-verb'>inhabits</span>
                <span class='eg-object'>London</span>
              </li>
            </ul>
            <p>
              In addition to datasets, HuViz is also able to display
              ontologies, the formal definition of things and
              relationships. Supported extensions are:
              <code>.jsonld, .nq, .nquads, .nt, .n3, .trig, .ttl, .rdf</code> and  <code>.xml</code>
            </p>
            <div class="clear"></div>
            <div class="usage_attribution">
              <a target="_" href="https://gitlab.com/calincs/access/HuViz/-/environments">HuViz is Available on GitLab</a>
              <p>Datasets: <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC - Attribution-NonCommercial</a></p>
              <p>Screenshots of HuViz: <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC - Attribution</a></p>
              <div class="clear"></div>
            </div>
          </div>
